*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

#ville{
    
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:100px;
    
  
}

.titreVille{
    font-family: 'meteo';
    letter-spacing: 15px;
    color: white;
    filter: drop-shadow(1.5px 1.5px  black);
    font-size: 5vw;
   
}


#background{
   
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
    width: 100%;
    min-height: 100vh;
    
}

@font-face{
    font-family: 'meteo';
    src: url(./ressources/font/meteo.otf);
}

#meteo{
 
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    background-color:rgb(26, 24, 24);

}

.temperature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(26, 24, 24);
}

.ciel,.temperature{
    
    width: 50%;
    min-width: 250px;
    min-height: 100vh;
    margin: auto;
    
}

.ciel{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(26, 24, 24);
}


#sect2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
   
    background-size: cover;
}


